* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {font-size: 100%;}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #f4f4f4;
    color: #333;
}


.todoList {
    list-style: none;
    margin-top: 2rem;
    max-width: 400px;
}

.todoList li {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

input {
    padding: 0.3rem 1rem;
    border-radius: none;

}